a{
background-color: rgb(153, 255, 250);
display:-webkit-inline-flex;
flex-wrap: wrap;
justify-content: baseline;

}
.header{
background-color: lightcoral;
}
html{
    background-color: lightslategrey;
}